/* css 초기화 코드
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ------- 코드 시작 ------- */
/* 헤더 부분 */
#header {
/*    border: 1px solid black;*/
    height: 80px;
}
#header_wrap {
/*    border: 1px solid red;*/
    height: 100%;
    width: 1280px;
    margin: 0 auto;
}
.header_content1 {
/*    border: 1px solid black;*/
    font-weight: bold;
    font-size: x-large;
    color: rgb(241, 99, 99);
    height: 100%;
    width: 431px;
    float: left;
    line-height: 80px;
    
}
.header_content1 img {
    width: 35px;
}
.header_content2 {
/*    border: 1px solid black;*/
    font-weight: bold;
    font-size: medium;
    height: 100%;
    width: 413px;
    float: left;
    text-align: center;
    line-height: 80px;
}
.header_content2_box {
    border: 2px solid rgb(150, 148, 148);
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.header_content2_box span {
    color: rgb(150, 148, 148);
}
.header_content2_box .fa-solid {
    border: 1px solid none;
    background-color: red;
    font-size: 12px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    
}
.header_content3 {
/*    border: 1px solid black;*/
    font-weight: bold;
    font-size: medium;
    height: 100%;
    width: 431px;
    float: left;
    line-height: 80px;
    text-align: right;
}
.header_content3 span{
    border: 1px solid rgb(106, 103, 103);
    color: rgb(106, 103, 103);
    border-radius: 30px;
    padding: 10px;
    height: 20px;
    text-align: center;
}
.fa-circle-user {
    font-size: x-large;
    padding-top: 10px;
}

.fa-globe {
    margin: 0 10px;
}
.fa-bars {
    margin-right: 10px;
}


/* 메뉴 부분 */
#menu {
/*    border: 1px solid red;*/
    height: 78px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#menu_wrap {
/*    border: 1px solid black;*/
    height: 100%;
    width: 1280px;
    text-align: center;
    font-size: 13px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
}
.menu_content {
/*    border: 1px solid red;*/
    height: 78px;
    flex-grow: 1;
    flex-basis: 0;

}
#menu_wrap .fa-solid {
    color: rgb(106, 103, 103);
    font-size: 35px;
    margin-bottom: 7px;
    margin-top: 9px;
}


/* 내용 부분 */
#main {
/*    border: 1px solid black;*/
    height: 1000px;
}
#main_wrap1 {
/*    border: 1px solid orange;*/
    height: 400px;
    width: 1280px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
}
.main_content1 {
/*    border: 1px solid green;*/
    height: 400px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px 5px;

}
#main_wrap1 img {
    width: 308px;
    margin-bottom: 8px;
}

#main_wrap2 {
    /*    border: 1px solid orange;*/
        height: 400px;
        width: 1280px;
    
        margin: 0 auto;
    
        display: flex;
        flex-direction: row;
    }
.main_content2 {
/*    border: 1px solid green;*/
    height: 400px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px 5px;

}
#main_wrap2 img {
    width: 308px;
    margin-bottom: 8px;
}

/* 푸터 부분 */
#footer {
/*    border: 1px solid green;*/
    height: 80px;
    padding: 0px 70px;
}
#footer_wrap {
/*    border: 1px solid black;*/
    height: 100%;
}
.footer_content1 {
/*    border: 1px solid black;*/
    font-size: medium;
    padding: 10px 0px;
}
.footer_content1 .right {
    float: left;
    font-weight: lighter;
}
.footer_content1 .right {
    float: right;
    font-weight: bold;
}
.footer_content2 {
/*    border: 1px solid purple;*/
    border-top: 1px solid rgb(106, 103, 103);
    color: rgb(106, 103, 103);;
    font-size: x-small;
    padding: 10px 0px;
}


/* 라이트 박스 스타일 */
#lightbox {
    position: fixed;  /* 위치 고정 */
    width:100%;  /* 너비 */
    height:100%;  /* 높이 */
    background-color:rgba(0,0,0,0.7);  /* 배경색 */
    top:0;  /* 시작 위치 - 위쪽 끝 */
    left:0; /* 시작 위치 - 왼쪽 끝 */
    display:none;  /* 화면에서 감추기 */
}

/* 라이트 박스 안의 이미지 */
#lightbox img {
    position:absolute;  /* top, left에 의해 위치 지정 */
    top:50%;  /* 위쪽에서 50% 부터 */
    left:50%;  /* 왼쪽에서 50% 부터 */
    transform:translate(-50%, -50%);  /* 요소를 화면 중앙에 표시하기 위해 이동 */
    border:5px solid #eee; /* 이미지 테두리 */       
}

/* 모달창 */
#modal {
    position: fixed;  
    border: 1px solid rgba(106, 103, 103, 0.5);
    background-color: white;
    width: 270px;
    height: 250px;
    top: 70px;
    right: 125px;
    border-radius: 10px;
    padding: 5px 0;
    display:none;
}
.modal {
    padding: 15px;
}
